CompileFlags:
  Compiler: clang++
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
  BuiltinHeaders: QueryDriver

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    FastCheckFilter: Strict

Completion:
  AllScopes: Yes
  ArgumentLists: FullPlaceholders