BasedOnStyle: GNU
IndentWidth: 2
---
Language: Cpp
DerivePointerAlignment: true
PointerAlignment: Right
---
Language: C
# Use 100 columns for JS.
ColumnLimit: 100
---
Language: Proto
# Don't format .proto files.
DisableFormat: true
